CREATE DATABASE DB_Clientes;
GO

USE DB_Clientes;
GO

CREATE TABLE Clientes (
    IdClientes   INT           NOT NULL,
    NombreComp   VARCHAR(100)  NULL,
    CedCliente   VARCHAR(20)   NULL,
    CtgCliente   VARCHAR(20)   NULL,
    FotoCliente  VARCHAR(255)  NULL,
    MontoTotal   DECIMAL(18, 2) NULL,
    CONSTRAINT PK_Clientes PRIMARY KEY (IdClientes)
);
GO

--Taller 5
CREATE TABLE Categorias (
    idCategoria INT NOT NULL PRIMARY KEY,
    descCat     VARCHAR(30) NULL,
    activo      INT NULL
);
GO

INSERT INTO Categorias (idCategoria, descCat, activo) VALUES
(1, 'potencial', 1),
(2, 'inactivo', 1),
(3, 'actual', 1);
GO