-- Crear la base de datos (si no existe)
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'DB_Clientes')
BEGIN
 CREATE DATABASE DB_Clientes;
END
GO

-- Usar la base de datos
USE DB_Clientes;
GO

-- Crear tabla Clientes (si no existe)
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Clientes]') AND type in (N'U'))
BEGIN
 CREATE TABLE dbo.Clientes (
 IdClientes INT NOT NULL,
 NombreComp VARCHAR(100) NULL,
 CedCliente VARCHAR(20) NULL,
 CtgCliente VARCHAR(20) NULL,
 FotoCliente VARCHAR(255) NULL,
 MontoTotal DECIMAL(18,2) NULL,
 Correo VARCHAR(100) NULL,
 Genero VARCHAR(10) NULL,
 Interes1 BIT NULL,
 Interes2 BIT NULL,
 Interes3 BIT NULL,
 CONSTRAINT PK_Clientes PRIMARY KEY (IdClientes)
 );
END
GO

-- Crear tabla Categorias (si no existe)
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Categorias]') AND type in (N'U'))
BEGIN
 CREATE TABLE dbo.Categorias (
 idCategoria INT NOT NULL PRIMARY KEY,
 descCat VARCHAR(30) NULL,
 activo INT NULL
 );
END
GO

-- Insertar datos iniciales en Categorias (solo si la tabla está vacía)
IF NOT EXISTS (SELECT 1 FROM dbo.Categorias)
BEGIN
 INSERT INTO dbo.Categorias (idCategoria, descCat, activo) VALUES
 (1, 'potencial',1),
 (2, 'inactivo',1),
 (3, 'actual',1);
END
GO

-- ==============================================
-- Nueva tabla: Transacciones
-- ==============================================
IF OBJECT_ID(N'dbo.Transacciones', N'U') IS NULL
BEGIN
 CREATE TABLE dbo.Transacciones (
 idtransacciones INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
 fecha DATE NOT NULL,
 idCliente INT NOT NULL,
 monto DECIMAL(10,2) NOT NULL,
 letraDetalle VARCHAR(50) NULL,
 conciliado INT NULL,
 tipoTrans VARCHAR(2) NULL, -- 'CR' para crédito, 'DB' para débito
 CONSTRAINT FK_Transacciones_Clientes FOREIGN KEY (idCliente) REFERENCES dbo.Clientes(IdClientes)
 );
END
GO

-- Inserciones de ejemplo para Clientes (solo si la tabla está vacía)
IF NOT EXISTS (SELECT 1 FROM dbo.Clientes)
BEGIN
 INSERT INTO dbo.Clientes (IdClientes, NombreComp, CedCliente, CtgCliente, FotoCliente, MontoTotal, Correo, Genero, Interes1, Interes2, Interes3) VALUES
 (1, 'Juan Pérez', '0102030405', 'actual', NULL,1000.00, 'juan.perez@example.com', 'M',1,0,1),
 (2, 'María Gómez', '0203040506', 'potencial', NULL,250.50, 'maria.gomez@example.com', 'F',0,1,0);
END
GO

-- Inserciones de ejemplo para Transacciones (si la tabla está vacía)
-- Nota: idtransacciones es IDENTITY, no se especifica en el INSERT
IF NOT EXISTS (SELECT 1 FROM dbo.Transacciones)
BEGIN
 INSERT INTO dbo.Transacciones (fecha, idCliente, monto, letraDetalle, conciliado, tipoTrans) VALUES
 ('2025-01-05',1,500.00, 'Pago inicial',0, 'CR'),
 ('2025-01-10',1,200.00, 'Compra',0, 'DB'),
 ('2025-02-15',2,250.50, 'Suscripción',1, 'DB');
END
GO

-- ==============================================
-- Procedimiento almacenado: sp_EstadoCuentaCliente
-- Devuelve una fila de saldo inicial y las transacciones en el rango con saldo corrido
-- ==============================================
IF OBJECT_ID(N'dbo.sp_EstadoCuentaCliente', N'P') IS NOT NULL
 DROP PROCEDURE dbo.sp_EstadoCuentaCliente;
GO

CREATE PROCEDURE dbo.sp_EstadoCuentaCliente
 @pIdCliente INT,
 @pDesde DATE,
 @pHasta DATE
AS
BEGIN
 SET NOCOUNT ON;

 ;WITH creditos AS (
 SELECT COALESCE(SUM(monto),0) AS total_creditos
 FROM dbo.Transacciones
 WHERE idCliente = @pIdCliente
 AND tipoTrans = 'CR'
 AND fecha < @pDesde
 ),
 debitos AS (
 SELECT COALESCE(SUM(monto),0) AS total_debitos
 FROM dbo.Transacciones
 WHERE idCliente = @pIdCliente
 AND tipoTrans = 'DB'
 AND fecha < @pDesde
 ),
 saldoinicial AS (
 SELECT total_creditos - total_debitos AS saldo_ini
 FROM creditos CROSS JOIN debitos
 ),

 movs_rango AS (
 SELECT
 t.idtransacciones AS idtrans,
 t.fecha,
 CASE WHEN t.tipoTrans = 'DB' THEN t.monto ELSE 0 END AS debe,
 CASE WHEN t.tipoTrans = 'CR' THEN t.monto ELSE 0 END AS haber
 FROM dbo.Transacciones t
 WHERE t.idCliente = @pIdCliente
 AND t.fecha BETWEEN @pDesde AND @pHasta
 ),

 movs_saldo AS (
 SELECT
 r.idtrans,
 r.fecha,
 r.debe,
 r.haber,
 (SELECT saldo_ini FROM saldoinicial)
 + SUM(r.haber - r.debe) OVER (ORDER BY r.fecha, r.idtrans ROWS UNBOUNDED PRECEDING) AS saldo_corrido
 FROM movs_rango r
 )

 SELECT 
 0 AS idtrans,
 @pDesde AS fecha,
 0.00 AS debe,
 0.00 AS haber,
 (SELECT saldo_ini FROM saldoinicial) AS saldo
 UNION ALL
 SELECT 
 idtrans, fecha, debe, haber, saldo_corrido AS saldo
 FROM movs_saldo
 ORDER BY fecha, idtrans;
END
GO

